.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  .title {
    padding: 1rem;
    text-align: center;
  }
  .aboutContainer {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .left {
      width: 600px;
      border-right: 1px solid var(--linkColor);
      padding-right: 15px;
      padding-bottom: 100px;
      .aboutTextOne {
        position: relative;
        margin-bottom: 100px;
        padding: 1rem;
        border: 1px solid var(--linkColor);
        border-radius: 10px;
        span {
          position: absolute;
          top: 3px;
          right: -27px !important;
          transform: translate(-50%);
          width: 10px;
          height: 10px;
          border: 2px solid var(--linkColor);
          background-color: var(--mainColor);
          border-radius: 50%;
        }
        &:hover {
          background-color: var(--previewBg);
          border: 1px solid var(--linkColor);
          span {
            background-color: var(--linkColor);
          }
        }
      }
      .aboutTextTwo {
        position: relative;
        margin-bottom: 100px;
        padding: 1rem;
        border: 1px solid var(--linkColor);
        border-radius: 10px;
        span {
          position: absolute;
          top: 3px;
          right: -27px !important;
          transform: translate(-50%);
          width: 10px;
          height: 10px;
          border: 2px solid var(--linkColor);
          background-color: var(--mainColor);
          border-radius: 50%;
        }
        &:hover {
          background-color: var(--previewBg);
          border: 1px solid var(--linkColor);
          span {
            background-color: var(--linkColor);
          }
        }
      }
      .aboutTextThree {
        position: relative;
        margin-bottom: 100px;
        padding: 1rem;
        border: 1px solid var(--linkColor);
        border-radius: 10px;
        span {
          position: absolute;
          top: 3px;
          right: -27px !important;
          transform: translate(-50%);
          width: 10px;
          height: 10px;
          border: 2px solid var(--linkColor);
          background-color: var(--mainColor);
          border-radius: 50%;
        }
        &:hover {
          background-color: var(--previewBg);
          border: 1px solid var(--linkColor);
          span {
            background-color: var(--linkColor);
          }
        }
      }
      .aboutTextFour {
        position: relative;
        padding: 1rem;
        border: 1px solid var(--linkColor);
        border-radius: 10px;
        span {
          position: absolute;
          top: 3px;
          right: -27px !important;
          transform: translate(-50%);
          width: 10px;
          height: 10px;
          border: 2px solid var(--linkColor);
          background-color: var(--mainColor);
          border-radius: 50%;
        }
        &:hover {
          background-color: var(--previewBg);
          border: 1px solid var(--linkColor);
          span {
            background-color: var(--linkColor);
          }
        }
      }
    }

    .right {
      width: 600px;
      padding-left: 15px;
      .aboutTextFive {
        position: relative;
        margin-top: 100px;
        padding: 1rem;
        border: 1px solid var(--linkColor);
        border-radius: 10px;
        span {
          position: absolute;
          top: 3px;
          left: -15px !important;
          transform: translate(-50%);
          width: 10px;
          height: 10px;
          border: 2px solid var(--linkColor);
          background-color: var(--mainColor);
          border-radius: 50%;
        }
        &:hover {
          background-color: var(--previewBg);
          border: 1px solid var(--linkColor);
          span {
            background-color: var(--linkColor);
          }
        }
      }
      .aboutTextSix {
        position: relative;
        margin-top: 100px;
        padding: 1rem;
        border: 1px solid var(--linkColor);
        border-radius: 10px;
        span {
          position: absolute;
          top: 3px;
          left: -15px !important;
          transform: translate(-50%);
          width: 10px;
          height: 10px;
          border: 2px solid var(--linkColor);
          background-color: var(--mainColor);
          border-radius: 50%;
        }
        &:hover {
          background-color: var(--previewBg);
          border: 1px solid var(--linkColor);
          span {
            background-color: var(--linkColor);
          }
        }
      }
      .aboutTextSaven {
        position: relative;
        margin-top: 100px;
        padding: 1rem;
        border: 1px solid var(--linkColor);
        border-radius: 10px;
        span {
          position: absolute;
          top: 3px;
          left: -15px !important;
          transform: translate(-50%);
          width: 10px;
          height: 10px;
          border: 2px solid var(--linkColor);
          background-color: var(--mainColor);
          border-radius: 50%;
        }
        &:hover {
          background-color: var(--previewBg);
          border: 1px solid var(--linkColor);
          span {
            background-color: var(--linkColor);
          }
        }
      }
      .aboutTextEight {
        position: relative;
        margin-top: 100px;
        padding: 1rem;
        border: 1px solid var(--linkColor);
        border-radius: 10px;
        span {
          position: absolute;
          top: 3px;
          left: -15px !important;
          transform: translate(-50%);
          width: 10px;
          height: 10px;
          border: 2px solid var(--linkColor);
          background-color: var(--mainColor);
          border-radius: 50%;
        }
        &:hover {
          background-color: var(--previewBg);
          border: 1px solid var(--linkColor);
          span {
            background-color: var(--linkColor);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    padding: 2rem 0 0 !important;
  }
  .container {
    width: 90%;
    .aboutContainer {
      margin-top: 10px;
      margin-bottom: 20px;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: 1px solid var(--linkColor);

      .left {
        width: 95%;
        margin: 10px auto;
        padding: 0;
        border: none;
        .aboutTextOne {
          position: relative;
          margin-bottom: 20px !important;
          padding: 1rem;
          border: 1px solid var(--linkColor);
          border-radius: 10px;
          span {
            position: absolute;
            top: 3px;
            left: -10px !important;
            transform: translate(-50%);
            width: 10px;
            height: 10px;
            border: 1.5px solid var(--linkColor);
            background-color: var(--mainColor);
            border-radius: 50%;
          }
          &:hover {
            background-color: var(--previewBg);
            border: 1px solid var(--linkColor);
            span {
              background-color: var(--linkColor);
            }
          }
        }
        .aboutTextTwo {
          position: relative;
          margin-bottom: 20px !important;
          padding: 1rem;
          border: 1px solid var(--linkColor);
          border-radius: 10px;
          span {
            position: absolute;
            top: 3px;
            left: -10px !important;
            transform: translate(-50%);
            width: 10px;
            height: 10px;
            border: 1.5px solid var(--linkColor);
            background-color: var(--mainColor);
            border-radius: 50%;
          }
          &:hover {
            background-color: var(--previewBg);
            border: 1px solid var(--linkColor);
            span {
              background-color: var(--linkColor);
            }
          }
        }
        .aboutTextThree {
          position: relative;
          margin-bottom: 10px !important;
          padding: 1rem;
          border: 1px solid var(--linkColor);
          border-radius: 10px;
          span {
            position: absolute;
            top: 3px;
            left: -10px !important;
            transform: translate(-50%);
            width: 10px;
            height: 10px;
            border: 1.5px solid var(--linkColor);
            background-color: var(--mainColor);
            border-radius: 50%;
          }
          &:hover {
            background-color: var(--previewBg);
            border: 1px solid var(--linkColor);
            span {
              background-color: var(--linkColor);
            }
          }
        }
        .aboutTextFour {
          position: relative;
          padding: 1rem;
          border: 1px solid var(--linkColor);
          border-radius: 10px;
          span {
            position: absolute;
            top: 3px;
            left: -10px !important;
            transform: translate(-50%);
            width: 10px;
            height: 10px;
            border: 1.5px solid var(--linkColor);
            background-color: var(--mainColor);
            border-radius: 50%;
          }
          &:hover {
            background-color: var(--previewBg);
            border: 1px solid var(--linkColor);
            span {
              background-color: var(--linkColor);
            }
          }
        }
      }

      .right {
        width: 95%;
        margin: 0 auto;
        padding: 0;
        .aboutTextFive {
          position: relative;
          margin-top: 10px !important;
          padding: 1rem;
          border: 1px solid var(--linkColor);
          border-radius: 10px;
          span {
            position: absolute;
            top: 3px;
            left: -10px !important;
            transform: translate(-50%);
            width: 10px;
            height: 10px;
            border: 1px solid var(--linkColor);
            background-color: var(--mainColor);
            border-radius: 50%;
          }
          &:hover {
            background-color: var(--previewBg);
            border: 1px solid var(--linkColor);
            span {
              background-color: var(--linkColor);
            }
          }
        }
        .aboutTextSix {
          position: relative;
          margin-top: 10px !important;
          padding: 1rem;
          border: 1px solid var(--linkColor);
          border-radius: 10px;
          span {
            position: absolute;
            top: 3px;
            left: -10px !important;
            transform: translate(-50%);
            width: 10px;
            height: 10px;
            border: 1px solid var(--linkColor);
            background-color: var(--mainColor);
            border-radius: 50%;
          }
          &:hover {
            background-color: var(--previewBg);
            border: 1px solid var(--linkColor);
            span {
              background-color: var(--linkColor);
            }
          }
        }
        .aboutTextSaven {
          position: relative;
          margin-top: 10px !important;
          padding: 1rem;
          border: 1px solid var(--linkColor);
          border-radius: 10px;
          span {
            position: absolute;
            top: 3px;
            left: -10px !important;
            transform: translate(-50%);
            width: 10px;
            height: 10px;
            border: 1px solid var(--linkColor);
            background-color: var(--mainColor);
            border-radius: 50%;
          }
          &:hover {
            background-color: var(--previewBg);
            border: 1px solid var(--linkColor);
            span {
              background-color: var(--linkColor);
            }
          }
        }
        .aboutTextEight {
          position: relative;
          margin-top: 10px !important;
          padding: 1rem;
          border: 1px solid var(--linkColor);
          border-radius: 10px;
          span {
            position: absolute;
            top: 3px;
            left: -10px !important;
            transform: translate(-50%);
            width: 10px;
            height: 10px;
            border: 1px solid var(--linkColor);
            background-color: var(--mainColor);
            border-radius: 50%;
          }
          &:hover {
            background-color: var(--previewBg);
            border: 1px solid var(--linkColor);
            span {
              background-color: var(--linkColor);
            }
          }
        }
      }
    }
  }
}
