.container {
  width: 1200px;
  margin: 0 auto;
  .title {
    text-align: center;
    padding: 1rem;
  }
  .blogContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    .blogContent {
      border: 1px solid var(--linkColor);
      border-radius: 10px;
      padding: 1rem;
      .blogHead {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: block;
            object-fit: cover;
          }
        }
        h3 {
          font-size: 1.25rem;
          padding: 0;
          margin-left: 10px;
        }
      }
      .text {
        h4 {
          padding: 0;
          font-size: 1.5rem;
        }
        .image {
          display: block;
          width: 60%;
          height: fit-content;
          overflow: hidden;
          padding: 0.5rem 0;
          margin: 0 auto;
          img {
            height: fit-content;
            width: 400px;
            object-fit: contain;
            &:hover {
              filter: opacity(0.7);
            }
          }
        }
        p {
          padding: 0.25rem 0;
          font-size: 1.2rem;
          line-height: 1.5;
        }
        span {
          font-weight: bold;
          font-style: italic;
        }
        .desc {
          line-height: 1.8;
        }
        a {
          font-size: 1.2rem;
          line-height: 1.5;
          text-transform: capitalize;
        }
        .youtube {
          position: relative;
          padding-top: 36.25% /* Player ratio: 100 / (1280 / 720) */;
          width: 60%;
          margin: 1rem auto;
          .ReactPlayer {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      &:hover {
        background-color: var(--previewBg);
        border: 1px solid var(--linkColor);
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 90%;
    margin: 0 auto;
    .title {
      padding: 2rem 0 0 !important;
      font-size: 2rem;
    }
    .blogContainer {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 40px;
      .blogContent {
        border: 1px solid var(--linkColor);
        border-radius: 10px;
        padding: 1rem;
        .blogHead {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 0.5rem;
          .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              display: block;
              object-fit: cover;
            }
          }
          h3 {
            font-size: 1.25rem;
            padding: 0;
            margin-left: 10px;
          }
        }
        .text {
          h4 {
            padding: 0;
            font-size: 1.2rem;
          }
          .image {
            display: block;
            width: 100%;
            height: fit-content;
            overflow: hidden;
            padding: 0.25rem 0;
            margin: 0 auto;
            img {
              height: fit-content;
              width: 400px;
              object-fit: contain;
              &:hover {
                filter: opacity(0.7);
              }
            }
          }
          p {
            padding: 0.25rem 0;
            font-size: 1.2rem;
            line-height: 1.5;
          }
          span {
            font-weight: bold;
            font-style: italic;
          }
          .desc {
            line-height: 1.8;
          }
          a {
            font-size: 1.2rem;
            line-height: 1.5;
            text-transform: capitalize;
          }
          .youtube {
            position: relative;
            padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
            width: 100%;
            .ReactPlayer {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
        &:hover {
          background-color: var(--previewBg);
          border: 1px solid var(--linkColor);
        }
      }
    }
  }
}
