.container {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  .title {
    text-align: center;
    padding: 1rem;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      display: block;
      max-width: 600px;
      margin: 0 auto;
      border: 1px solid var(--borderColor);
      padding: 15px;
      border-radius: 5px;
      background-color: var(--mainColor);
      margin-bottom: 50px;
      label {
        line-height: 2.7em;
      }
      input {
        width: 100%;
        padding: 10px;
        background-color: var(--secondaryColor);
        border-radius: 5px;
        border: 1px solid var(--borderColor);
        font-size: 14px;
        &:focus {
          outline: 1px solid var(--linkColor);
        }
      }
      textarea {
        width: 100%;
        padding: 10px;
        background-color: var(--secondaryColor);
        border-radius: 5px;
        border: 1px solid var(--borderColor);
        font-size: 14px;
        &:focus {
          outline: 1px solid var(--linkColor);
        }
        min-height: 100px;
      }
      .submit {
        margin-top: 10px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        background-color: var(--buttonColor);
        border: none;
        cursor: pointer;
        &:hover {
          background-color: var(--linkColor);
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
