@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap");

:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;

  --borderColor: #164d56;
  --linkColor: #17a2b8;
  --mainText: #fff;
  --secondaryText: #eee;

  --themeDotborder: #fff;
  --previewBg: rgba(25, 39, 59, 0.8);
  --previewShadow: #111921;
  --buttonColor: #17a2b8;
}
[data-theme="light"] {
  --mainColor: #f3f4f6;
  --secondaryColor: #fff;
  --linkColor: #d61e28;

  --borderColor: #c1c1c1;

  --mainText: #000;
  --secondaryText: #4b5156;

  --themeDotborder: #24292e;
  --previewBg: rgba(228, 228, 228, 0.692);
  --previewShadow: #e3e5e7;
  --buttonColor: #000;
}
[data-theme="purple"] {
  --mainColor: #46344e;
  --secondaryColor: #382a3f;

  --borderColor: #1d1520;
  --linkColor: #ba95cf;

  --mainText: #fff;
  --secondaryText: #eee;

  --themeDotborder: #fff;
  --previewBg: rgba(48, 35, 53, 0.8);
  --previewShadow: #241b27;
  --buttonColor: #8534a3;
}
[data-theme="green"] {
  --mainColor: #1a1a1a;
  --secondaryColor: #262625;

  --borderColor: #33be9262;

  --mainText: #fff;
  --secondaryText: #eee;
  --linkColor: #33be91;
  --themeDotborder: #fff;
  --previewBg: rgba(38, 38, 37, 0.8);
  --previewShadow: #1a1a1a;
  --buttonColor: #199c73;
}
html,
body,
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body * {
  transition: all 0.3s ease-in-out;
}
body {
  background-color: var(--mainColor);
  min-height: 100vh;
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #15202b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #17a2b8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #13899b;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  padding: 5px;
  line-height: 1.3;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}
a {
  text-decoration: none;
  color: var(--linkColor);
  &:hover {
    color: #6a5bcd;
    transition: all 0.1s ease-in-out;
  }
}

ul {
  list-style: none;
}
main {
  min-height: calc(100vh - 50px);
}
.navActive {
  color: var(--linkColor);
  border: 1px solid var(--linkColor);
  &:hover {
    color: var(--mainText);
    border: 1px solid var(--mainText);
  }
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 15vh;
  width: 100%;
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  transition: all 0.4s ease-in-out;
  ul {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    li {
      margin: 18px 5px;
      &:first-child {
        margin-left: 0;
      }
      a {
        font-family: "Russo One", sans-serif;
        font-weight: 500;
        color: var(--mainText);
        border: 1px solid var(--mainText);
        padding: 10px;
        border-radius: 10px;
        &:hover {
          color: var(--linkColor);
          border: 1px solid var(--linkColor);
          border-radius: 0px;
        }
      }
    }
  }
}
.navFixed {
  position: fixed;
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  height: fit-content;
  padding: 0.25rem 0;
  z-index: 99999;
  transition: all 0.4s ease-in-out;
}
.mobileNav {
  display: none;
}
footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid var(--borderColor);
}
@media screen and (max-width: 1200px) {
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);

    ul {
      display: flex;
      width: 90%;
      margin: 0 auto;
      flex-wrap: wrap;
      li {
        margin: 18px 5px;
        a {
          font-family: "Russo One", sans-serif;
          font-weight: 500;
          color: var(--mainText);
          border: 1px solid var(--mainText);
          padding: 10px;
          border-radius: 2px;
          &:hover {
            color: var(--linkColor);
            border: 1px solid var(--linkColor);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  body {
    margin-bottom: 70px;
  }
  nav {
    display: none;
  }
  .mobileNav {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    border: none;
    background-color: var(--mainColor);
    border-top: 1px solid var(--borderColor);
    overflow-x: auto;
    z-index: 999;
    div {
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      min-width: 50px;
      height: 100%;
      a {
        padding: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.5;
        color: var(--mainText);
        &:hover {
          color: var(--buttonColor);
        }
      }
    }
  }
  .mobActive {
    color: var(--linkColor) !important;
    &:hover {
      color: var(--mainText) !important;
    }
  }
  main {
    min-height: 100vh;
  }
}
